<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <div class="rs-inner-blog orange-color mt-10 mb-10 pt-50 md-pb-50">
            <div class="container">
                <h3 style="text-align: center;">Intellectual Property Cell</h3>
                <div class="blog-deatails">
                    <div class="intro-info-tabs intro-section gray-bg " style="margin-top: 10px;">
                        <ul class="nav nav-tabs intro-tabs tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="about-ip-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#about-ip" role="tab" aria-controls="about-ip"
                                    aria-selected="true">About IP Cell</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="utility-patent-ip-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#utility-patent-ip" role="tab" aria-controls="utility-patent-ip"
                                    aria-selected="false">Utility Patent</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="design-patent-ip-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#design-patent-ip" role="tab" aria-controls="design-patent-ip"
                                    aria-selected="false">Design Patent</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="copyright-ip-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#copyright-ip" role="tab" aria-controls="copyright-ip"
                                    aria-selected="false">Copyrights</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="trademark-ip-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#trademark-ip" role="tab" aria-controls="trademark-ip"
                                    aria-selected="false">Trademarks</a>
                            </li>

                        </ul>
                        <div class="tab-content tabs-content" id="myTabContent">
                            <div class="tab-pane tab fade show active" id="about-ip" role="tabpanel"
                                aria-labelledby="about-ip-tab">

                                <div class="blog-full">
                                    <div class="blog-desc" style="text-align: justify;">
                                        <div class="title mb-40 md-mb-15">
                                            <h3 class="text-part">Intellectual Property (IP) Cell</h3>
                                        </div>
                                        <p>
                                            The <b>Intellectual Property (IP) Cell</b> of <b>Charotar Education
                                                Society</b> is
                                            established with the objective of fostering awareness, protection, and
                                            responsible management of intellectual assets among faculty, students,
                                            project staff, supporting staff, and visitors. Recognizing the significance
                                            of intellectual property in driving innovation and societal impact, the IP
                                            Cell provides guidance and support for safeguarding novel works <b>through
                                                patents, industrial designs, copyrights, and trade/service marks</b>.
                                        </p>
                                        <p>
                                            The IP Cell serves as a <b>resource center</b> to encourage and facilitate
                                            creative
                                            activities across academic, consultancy, and research domains. It offers
                                            individuals the option to <b>seek IP protection</b> for their innovative
                                            work or
                                            contribute to the public domain, as per their discretion. The Cell also
                                            ensures a <b>transparent framework</b> for the ownership, control, and
                                            equitable
                                            revenue-sharing of intellectual properties owned by <b>Charotar Education
                                                Society</b>.
                                        </p>
                                        <div class="title mb-40 md-mb-15">
                                            <h5 class="text-part">Objectives of the IP Policy</h5>
                                        </div>
                                        <ul class="mb-20">
                                            <li><b>Encourage Innovation & Creativity</b> – Foster a culture of research,
                                                innovation, and creative expression across disciplines.</li>
                                            <li><b>IP Protection & Management</b> – Provide guidance on securing
                                                patents,
                                                industrial designs, copyrights, and trademarks while offering the option
                                                to keep novel works in the public domain.</li>
                                            <li><b>Fair Ownership & Revenue Sharing</b> – Define a transparent system
                                                for
                                                ownership rights, control, and distribution of revenues generated from
                                                intellectual property owned by CES.</li>
                                            <li><b>Technology Transfer & Commercialization</b> – Facilitate the
                                                utilization
                                                of intellectual property for societal benefit through licensing,
                                                startups, or industry collaborations.</li>
                                            <li><b>Legal Compliance & Ethical Standards</b> – Ensure adherence to
                                                national
                                                and international IP laws and ethical research practices.</li>
                                        </ul>
                                        <div class="title mb-40 md-mb-15">
                                            <h5 class="text-part">Applicability & Scope</h5>
                                        </div>
                                        <ul class="mb-20">
                                            <li>This policy applies to <b>all academic and research institutions under
                                                    Charotar Education Society</b>.</li>
                                            <li>Covers <b>faculty, students, project staff, supporting staff, and
                                                    visitors</b> involved in research, innovation, and creative
                                                activities.</li>
                                            <li>Governs <b>all forms of intellectual property</b> including <b>patents,
                                                    copyrights, industrial designs, and trademarks</b> developed under
                                                CES.</li>
                                        </ul>
                                        <p><b>The IP Cell of CES</b> will oversee the implementation of this policy,
                                            ensuring
                                            effective IP management, awareness, and support for innovators. Through this
                                            initiative, CES aims to contribute meaningfully to the advancement of
                                            knowledge, technology, and societal progress.</p>
                                        <p>Through structured initiatives, the IP Cell aims to <b>empower innovators,
                                                drive
                                                technological advancements,</b> and <b>enhance the institution’s
                                                contribution to
                                                knowledge-based growth</b>.</p>

                                        <div class="title mb-40 md-mb-15">
                                            <h5 class="text-part">Steps for CES Invention Disclosure Process</h5>
                                        </div>
                                        <ul class="mb-20">
                                            <li><b>1. Idea Collection</b> : The institute gathers innovative ideas and
                                                inventions from staff and students</li>
                                            <li><b>2. Form Submission</b> : The <b>CES Invention Disclosure Form</b> is
                                                filled out at
                                                the institute level, signed, and verified by the Principal.</li>
                                            <li><b>3. Committee Presentation</b> : The completed <b>CES Invention
                                                    Disclosure Form</b>
                                                is presented in the monthly meeting of the <b>CES IP Cell Committee</b>
                                                for
                                                review.</li>
                                            <li><b>4. Committee Remarks</b> : The <b>CES IP Cell Committee</b> provides
                                                written remarks on the submission.</li>
                                            <li><b>5. Final Approval</b> : The Chairperson of the <b>CES IP Cell
                                                    Committee</b> grants the final approval.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="utility-patent-ip" role="tabpanel"
                                aria-labelledby="utility-patent-ip-tab">
                                <div class="content">
                                    <div id="accordion" class="accordion-box">
                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <div class="title mb-40 md-mb-15">
                                                    <h3 class="text-part">Utility Patents</h3>
                                                </div>

                                                <div style="overflow-x:auto;">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" scope="col">Sr No.</th>
                                                                <th class="text-center" scope="col">Applicant Name
                                                                </th>
                                                                <th class="text-center" scope="col">Title</th>
                                                                <th class="text-center" scope="col">Application Number
                                                                </th>
                                                                <th class="text-center" scope="col">Application Date
                                                                </th>
                                                                <th class="text-center" scope="col">Patent Number</th>
                                                                <th class="text-center" scope="col">Grant Date</th>
                                                                <th class="text-center" scope="col">Valid Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let s of utlityPatentData | paginate: { id:'listing',itemsPerPage: 25, currentPage: p };let i=index">
                                                                <th class="text-center">{{s.index}}</th>
                                                                <td class="text-center">{{s.applicationname}} </td>
                                                                <td class="text-center">{{s.title}} </td>
                                                                <td class="text-center">{{s.applicationnumber}} </td>
                                                                <td class="text-center">{{s.applicationdate | date}}
                                                                </td>
                                                                <td class="text-center">{{s.patentnumber}} </td>
                                                                <td class="text-center">{{s.grantdate | date}} </td>
                                                                <td class="text-center">{{s.validdate | date}} </td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                    <div class="row mt-3" *ngIf="utlityPatentData.length>0">
                                                        <div class="row">
                                                            <div class="col text-end">
                                                                <pagination-controls id="listing"
                                                                    (pageChange)="p = $event">
                                                                </pagination-controls>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="design-patent-ip" role="tabpanel"
                                aria-labelledby="design-patent-ip-tab">
                                <div class="content">
                                    <div id="accordion" class="accordion-box">
                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <div class="title mb-40 md-mb-15">
                                                    <h3 class="text-part">Design Patents</h3>
                                                </div>

                                                <div style="overflow-x:auto;">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center" scope="col">Sr No.</th>
                                                                <th class="text-center" scope="col">Applicant Name
                                                                </th>
                                                                <th class="text-center" scope="col">Title</th>
                                                                <th class="text-center" scope="col">Application Number
                                                                </th>
                                                                <th class="text-center" scope="col">Application Date
                                                                </th>
                                                                <th class="text-center" scope="col">Patent Number</th>
                                                                <th class="text-center" scope="col">Grant Date</th>
                                                                <th class="text-center" scope="col">Valid Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let s of designPatentData | paginate: { id:'listing',itemsPerPage: 25, currentPage: d };let i=index">
                                                                <th class="text-center">{{s.index}}</th>
                                                                <td class="text-center">{{s.applicationname}} </td>
                                                                <td class="text-center">{{s.title}} </td>
                                                                <td class="text-center">{{s.applicationnumber}} </td>
                                                                <td class="text-center">{{s.applicationdate | date}}
                                                                </td>
                                                                <td class="text-center">{{s.patentnumber}} </td>
                                                                <td class="text-center">{{s.grantdate | date}} </td>
                                                                <td class="text-center">{{s.validdate | date}} </td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                    <div class="row mt-3" *ngIf="utlityPatentData.length>0">
                                                        <div class="row">
                                                            <div class="col text-end">
                                                                <pagination-controls id="listing"
                                                                    (pageChange)="d = $event">
                                                                </pagination-controls>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="copyright-ip" role="tabpanel"
                                aria-labelledby="copyright-ip-tab">
                                <div class="content">
                                    <div id="accordion" class="accordion-box">
                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <div class="title mb-40 md-mb-15">
                                                    <h3 class="text-part">Copyrights</h3>
                                                </div>

                                                <div style="overflow-x:auto;">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Sr No.</th>
                                                                <th class="text-center">Applicant Name</th>
                                                                <th class="text-center">Category</th>
                                                                <th class="text-center">Application Number</th>
                                                                <th class="text-center">Application Date</th>
                                                                <th class="text-center">Copyright Number</th>
                                                                <th class="text-center">Copyright Date</th>
                                                                <th class="text-center">Valid Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let s of copyrightsData | paginate: { id:'listing',itemsPerPage: 25, currentPage: c };let i=index">
                                                                <th class="text-center">{{s.index}}</th>
                                                                <td class="text-center">{{s.applicationname}} </td>
                                                                <td class="text-center">{{s.category}} </td>
                                                                <td class="text-center">{{s.applicationnumber}} </td>
                                                                <td class="text-center">{{s.applicationdate | date}}
                                                                </td>
                                                                <td class="text-center">{{s.copyrightnumber}} </td>
                                                                <td class="text-center">{{s.copyrightdate | date}} </td>
                                                                <td class="text-center">{{s.validdate | date}} </td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                    <div class="row mt-3" *ngIf="copyrightsData.length>0">
                                                        <div class="row">
                                                            <div class="col text-end">
                                                                <pagination-controls id="listing"
                                                                    (pageChange)="c = $event">
                                                                </pagination-controls>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="trademark-ip" role="tabpanel"
                                aria-labelledby="trademark-ip-tab">
                                <div class="content">
                                    <div id="accordion" class="accordion-box">
                                        <div class="blog-full">
                                            <div class="blog-desc">
                                                <div class="title mb-40 md-mb-15">
                                                    <h3 class="text-part">Trademarks</h3>
                                                </div>

                                                <div style="overflow-x:auto;">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">Sr No.</th>
                                                                <th class="text-center">Applicant Name</th>
                                                                <th class="text-center">Class</th>
                                                                <th class="text-center">Application Number</th>
                                                                <th class="text-center">Application Date</th>
                                                                <th class="text-center">Trademark Date</th>
                                                                <th class="text-center">Trademark Number</th>
                                                                <th class="text-center">Valid Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr
                                                                *ngFor="let s of trademarksData | paginate: { id:'listing',itemsPerPage: 25, currentPage: t };let i=index">
                                                                <td class="text-center">{{s.index}}</td>
                                                                <td class="text-center">{{s.applicationname}} </td>
                                                                <td class="text-center">{{s.class}} </td>
                                                                <td class="text-center">{{s.applicationnumber}} </td>
                                                                <td class="text-center">{{s.applicationdate | date}}
                                                                </td>
                                                                <td class="text-center">{{s.trademarkdate | date}} </td>
                                                                <td class="text-center">{{s.trademarknumber}} </td>
                                                                <td class="text-center">{{s.validdate | date}} </td>
                                                            </tr>
                                                        </tbody>

                                                    </table>
                                                    <div class="row mt-3" *ngIf="trademarksData.length>0">
                                                        <div class="row">
                                                            <div class="col text-end">
                                                                <pagination-controls id="listing"
                                                                    (pageChange)="t = $event">
                                                                </pagination-controls>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Blog Section End -->


    </div>
    <!-- Main content End -->
    <footer id="rs-footer" class="rs-footer">
        <app-footer></app-footer>
    </footer>
</body>