<div id="accordion" class="accordion">
    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <section class="servicesHome">
            <div class="container">
                <div class="row card1">
                    <a data-toggle="collapse" data-bs-parent="#accordion" data-bs-toggle="collapse" href="#collapseTwo">
                        <i class="fa fa-times-circle" style="float: right; color: white; font-size:24px"></i></a>
                    <h6 style="color: white;text-align: center;">View Course</h6>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul>
                                <li (click)="searchSchool('preschool')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Preschool</li>
                                <li (click)="searchSchool('std11to12')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i>Standard 11 to 12</li>
                                <li (click)="searchSchool('bcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Com.</li>
                                <li (click)="searchSchool('bsc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc.</li>
                                <li (click)="searchSchool('med')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Ed.</li>
                                <li (click)="searchSchool('phd')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Ph.D.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std1to5')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 1 to 5</li>
                                <li (click)="searchSchool('ba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.A.</li>
                                <li (click)="searchSchool('bed')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Ed.</li>
                                <li (click)="searchSchool('mlt')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> MLT</li>
                                <li (click)="searchSchool('msw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.S.W.</li>
                                <li (click)="searchSchool('bscit')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.Sc. IT</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std6to8')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 6 to 8</li>
                                <li (click)="searchSchool('bba')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.B.A.</li>
                                <li (click)="searchSchool('bped')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.P.Ed.</li>
                                <li (click)="searchSchool('ma')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.A.</li>
                                <li (click)="searchSchool('msc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Sc.</li>
                                <li (click)="searchSchool('all')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> View All</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="servicesHome-box">
                            <ul style="color:white">
                                <li (click)="searchSchool('std9to10')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> Standard 9 to 10</li>
                                <li (click)="searchSchool('bca')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.C.A.</li>
                                <li (click)="searchSchool('bsw')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> B.S.W.</li>
                                <li (click)="searchSchool('mcom')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> M.Com.</li>
                                <li (click)="searchSchool('ptc')" data-bs-toggle="collapse" href="#collapseTwo"><i
                                        class="fa fa-arrow-right"></i> P.T.C.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="full-width-header header-style1 home1-modifiy">
    <header id="rs-header" class="rs-header">
        <div class="topbar-area dark-parimary-bg">
            <div class="container">
                <div class="row y-middle">
                    <div class="col-md-7">
                        <ul class="topbar-contact">
                            <li>
                                <i class="flaticon-email"></i>
                                <a href="mailto:vjp@cesociety.in" style="font-size:12px !important;">
                                    vjp&#64;cesociety.in</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i>
                                <a href="tel:02692-250669" style="font-size:12px !important;"> (02692) 250669</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 text-end">
                        <ul class="topbar-right">
                            <li class="login-register" style="font-size:12px !important; color: white;">
                                <i class="fa fa-clock-o" style="color: white;"></i>
                                <a>Last Updated: {{siteUpdate.updatedSite|date}}</a>
                            </li>
                            <li><a class="text-white" href="https://www.facebook.com/cesociety" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                            <li><a class="text-white" href="https://www.instagram.com/cesociety_1916/"
                                    target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-area menu-sticky">
            <div class="row middle">
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <div class="logo-cat-wrap">
                        <div class="logo-part">
                            <a routerLink="/home" routerLinkActive="active">
                                <img src="assets/images/logo/3.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 text-start m1" style="padding-right:30px;">

                    <ul class="topbar-right">
                        <li class="menu-item lm">
                            <div class="wrap">
                                <div class="search">
                                    <a class="card-link collapsed" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" href="#" (click)="moreOpen()"
                                        aria-expanded="true">
                                        <input type="text" class="searchTerm" placeholder="Search Institute"
                                            style="color: #203154;">
                                    </a>
                                    <button type="submit" class="searchButton">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li class="menu-item lm">
                            <a href="https://cesociety.in/#/celebration" target="_blank">Centenary Celebration</a>
                        </li>
                        <!-- |
                        <li class="menu-item lm">
                            <a href="javascript:void(0);">Feedback</a>
                        </li>
                        |
                        <li class="menu-item lm">
                            <a href="assets/images/RTI.pdf" target="blank">RTI</a>
                        </li> -->
                        |
                        <li class="menu-item lm">
                            <a href="https://cesociety.in/#/counselling" target="_blank">Free Psychological Counseling</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- MOBILEMENU -->
        <nav class="navbar navbarn navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
                (click)="isCollapsed = !isCollapsed">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
                <ul class="nav-menu" style="padding: 25px!important;">
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" routerLink="/home" routerLinkActive="active">Home</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="https://cesociety.in" target="_blank">CES
                                    Home</a></li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">About Us</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/basic/about" routerLinkActive="active">Our
                                    History</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/basic/infra"
                                    routerLinkActive="active">Infrastructure and Facilities</a></li>
                            <li><a class="dropdown-item" routerLink="/basic/structure" routerLinkActive="active">Fee
                                    Structure</a></li>
                            <li><a class="dropdown-item" routerLink="/basic/session" routerLinkActive="active">School
                                    Sessions</a></li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Gallery/Media</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/gallery/photos"
                                    routerLinkActive="active">Photos</a></li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Activities</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="javascript:void(0);"
                                    (click)="openActivity('CO-Curricular')">Co-Curricular Activities</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0);"
                                    (click)="openActivity('Extra-Curricular')">Extra-Curricular Activities</a></li>

                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Resources</a>

                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" (click)="openLinks('syllabus')">Syllabus</a></li>
                            <li><a class="dropdown-item" href="http://www.olabs.edu.in" target="_blank">Online Labs For
                                    Science Experiments</a></li>
                            <li><a class="dropdown-item" routerLink="/resource/project"
                                    routerLinkActive="active">Projects</a></li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Department</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" routerLink="/department/staff" routerLinkActive="active">Staff
                                    Details</a></li>
                            <li><a class="dropdown-item" routerLink="/department/student"
                                    routerLinkActive="active">Student Details</a></li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">Student Corner</a>
                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" (click)="openLinks('forms')">Forms</a></li>
                            <li><a class="dropdown-item" (click)="openLinks('report')">Annual Reports</a></li>
                            <li><a class="dropdown-item" routerLink="/more/news" routerLinkActive="active">Announcement
                                    / News / Circular</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/more/academic-calendar"
                                    routerLinkActive="active">Academic Calendar</a></li>
                            <li><a class="dropdown-item" routerLink="/more/paper" routerLinkActive="active">Old
                                    Question Papers</a>
                            </li>
                            <li><a class="dropdown-item" routerLink="/more/answer-key" routerLinkActive="active">Answer
                                    Key</a></li>
                            <li><a class="dropdown-item" routerLink="/more/scholarship"
                                    routerLinkActive="active">Scholarships for
                                    Students</a></li>
                            <li><a class="dropdown-item" routerLink="/resource/result"
                                    routerLinkActive="active">Results</a></li>
                        </ul>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/ipcell" routerLinkActive="active">IP Cell</a>
                    </li>
                    <li class="btn-group">
                        <a class="btn btn-lg" routerLink="/basic/contact" routerLinkActive="active">Contact
                            Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- MOBILEMENU -->

        <div class="menu-area menu-sticky">
            <!-- main-menu -->
            <div class="container" style="max-width:3000px;">
                <div class="row y-middle" style="background-color: #5a6230 ; height: 50px;">
                    <div class="col-lg-12 text-end">
                        <div class="rs-menu-area">
                            <div class="main-menu">

                                <nav class="rs-menu">
                                    <ul class="nav-menu">

                                        <li class="menu-item-has-children">
                                            <a routerLink="/home" routerLinkActive="active">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="https://cesociety.in" target="_blank">CES
                                                        Home</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a>About Us</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/basic/about" routerLinkActive="active">Our
                                                        History</a>
                                                </li>
                                                <li><a routerLink="/basic/infra"
                                                        routerLinkActive="active">Infrastructure and Facilities</a>
                                                </li>
                                                <li><a routerLink="/basic/structure" routerLinkActive="active">Fee
                                                        Structure</a>
                                                </li>
                                                <li><a routerLink="/basic/session" routerLinkActive="active">School
                                                        Sessions</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a>Gallery/Media</a>

                                            <ul class="sub-menu">
                                                <li><a routerLink="/gallery/photos" routerLinkActive="active">Photos</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a>Activities</a>
                                            <ul class="sub-menu">
                                                <li><a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="openActivity('CO-Curricular')">
                                                        CO-Curricular Activities</a></li>
                                                <li><a class="dropdown-item" href="javascript:void(0);"
                                                        (click)="openActivity('Extra-Curricular')">Extra-Curricular
                                                        Activities</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a>Resources</a>
                                            <ul class="sub-menu">
                                                <li><a href="javascript:void(0);"
                                                        (click)="openLinks('syllabus')">Syllabus</a></li>
                                                <li><a href="http://www.olabs.edu.in" target="_blank">Online Labs For
                                                        Science Experiments</a>
                                                </li>
                                                <li><a routerLink="/resource/project"
                                                        routerLinkActive="active">Projects</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a>Department</a>
                                            <ul class="sub-menu">
                                                <li><a routerLink="/department/staff" routerLinkActive="active">Staff
                                                        Details</a></li>
                                                <li><a routerLink="/department/student"
                                                        routerLinkActive="active">Student Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a>Student Corner</a>
                                            <ul class="sub-menu">
                                                <li><a href="javascript:void(0);" (click)="openLinks('forms')">Forms</a>
                                                </li>
                                                <li><a href="javascript:void(0);" (click)="openLinks('report')">Annual
                                                        Reports</a></li>
                                                <li><a routerLink="/more/news" routerLinkActive="active">Announcement /
                                                        News / Circular</a>
                                                </li>
                                                <li><a routerLink="/more/academic-calendar"
                                                        routerLinkActive="active">Academic Calendar</a></li>
                                                <li><a routerLink="/more/paper" routerLinkActive="active">Old
                                                        Question Papers</a>
                                                </li>
                                                <li><a routerLink="/more/answer-key" routerLinkActive="active">Answer
                                                        Key</a></li>
                                                <li><a routerLink="/more/scholarship"
                                                        routerLinkActive="active">Scholarships for
                                                        Students</a></li>
                                                <li><a routerLink="/resource/result"
                                                        routerLinkActive="active">Results</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a routerLink="/ipcell" routerLinkActive="active">IP Cell</a>
                                        </li>
                                        <li>
                                            <a routerLink="/basic/contact" routerLinkActive="active">Contact
                                                Us</a>
                                        </li>
                                    </ul> <!-- //.nav-menu -->
                                </nav>
                            </div> <!-- //.main-menu -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-menu -->



            <!-- stickymenu -->
            <div style="max-width:100%;">
                <div class="secondToolbar" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
                    <!-- <img src="assets/images/CES_logo.png" alt=""> -->
                    <div class="row" style="background-color: #5a6230 ; height: 50px;">
                        <div class="col-lg-2 text-end mt-10">
                            <a routerLink="/home/main" routerLinkActive="active">
                                <img src="assets/images/logo/2.png" alt="" width="45%">
                            </a>
                        </div>
                        <div class="col-lg-10 text-start" style="margin-top: 5px;">
                            <div class="rs-menu-area jc">
                                <div class="main-menu">
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">

                                            <li class="menu-item-has-children">
                                                <a routerLink="/home" routerLinkActive="active">Home</a>
                                                <ul class="sub-menu">
                                                    <li><a href="https://cesociety.in" target="_blank">CES Home</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a>About Us</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/basic/about" routerLinkActive="active">Our
                                                            History</a>
                                                    </li>
                                                    <li><a routerLink="/basic/infra"
                                                            routerLinkActive="active">Infrastructure and Facilities</a>
                                                    </li>
                                                    <li><a routerLink="/basic/structure" routerLinkActive="active">Fee
                                                            Structure</a>
                                                    </li>
                                                    <li><a routerLink="/basic/session" routerLinkActive="active">School
                                                            Sessions</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a>Gallery/Media</a>

                                                <ul class="sub-menu">
                                                    <li><a routerLink="/gallery/photos"
                                                            routerLinkActive="active">Photos</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a>Activities</a>
                                                <ul class="sub-menu">
                                                    <li><a class="dropdown-item" href="javascript:void(0);"
                                                            (click)="openActivity('CO-Curricular')">Co-Curricular
                                                            Activities</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0);"
                                                            (click)="openActivity('Extra-Curricular')">Extra-Curricular
                                                            Activities</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a>Resources</a>
                                                <ul class="sub-menu">
                                                    <li><a href="javascript:void(0);"
                                                            (click)="openLinks('syllabus')">Syllabus</a></li>
                                                    <li><a href="http://www.olabs.edu.in" target="_blank">Online Labs
                                                            For
                                                            Science Experiments</a>
                                                    </li>
                                                    <li><a routerLink="/resource/project"
                                                            routerLinkActive="active">Projects</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a>Department</a>
                                                <ul class="sub-menu">
                                                    <li><a routerLink="/department/staff"
                                                            routerLinkActive="active">Staff Deatils</a></li>
                                                    <li><a routerLink="/department/student"
                                                            routerLinkActive="active">Student Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item-has-children"><a>Student Corner</a>
                                                <ul class="sub-menu">
                                                    <li><a href="javascript:void(0);"
                                                            (click)="openLinks('forms')">Forms</a></li>
                                                    <li><a href="javascript:void(0);"
                                                            (click)="openLinks('report')">Annual Reports</a></li>
                                                    <li><a routerLink="/more/news"
                                                            routerLinkActive="active">Announcement / News / Circular</a>
                                                    </li>
                                                    <li><a routerLink="/more/academic-calendar"
                                                            routerLinkActive="active">Academic Calendar</a></li>
                                                    <li><a routerLink="/more/paper" routerLinkActive="active">Old
                                                            Question Papers</a>
                                                    </li>
                                                    <li><a routerLink="/more/answer-key"
                                                            routerLinkActive="active">Answer Key</a></li>
                                                    <li><a routerLink="/more/scholarship"
                                                            routerLinkActive="active">Scholarships for
                                                            Students</a></li>
                                                    <li><a routerLink="/resource/result"
                                                            routerLinkActive="active">Results</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a routerLink="/ipcell" routerLinkActive="active">IP Cell</a>
                                            </li>
                                            <li>
                                                <a routerLink="/basic/contact" routerLinkActive="active">Contact
                                                    Us</a>
                                            </li>
                                        </ul> <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- stickymenu -->
        </div>

    </header>

</div>