<!-- <div id="rs-categories" class="rs-categories gray-bg style1 pt-10 pb-10 md-pt-10 md-pb-10">
    <div class="container">
        <div class="row y-middle">
            <a href="#" routerLink="/more/admission">
                <div class="container-fluid blinking-bg">
                    <p class="text-white" style="margin: 0 0 0px;font-size: 17px;padding: 10px 0 10px;">
                        <strong>Admission Now open for Academic Year 2024-25.</strong>
                    </p>
                </div>
            </a>
        </div>
    </div>
</div> -->