<div id="rs-categories" class="rs-categories gray-bg style1 pt-10 pb-10 md-pt-10 md-pb-10"
    *ngIf="notificationData.length > 0">
    <div class="container">
        <div class="blinking-bg">
            <marquee class="custom" onmouseover="this.stop();" onmouseout="this.start();">
                <div *ngFor="let n of notificationData" class="notification-item text-white"
                    style="padding-top: 26px !important;">
                    <span [innerHTML]="n.message" class="text-white"></span>
                </div>
            </marquee>
        </div>
    </div>
</div>