<!-- About Section Start -->
<div class="rs-about style11 mt-40 pb-100 md-mt--10 md-pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/campus.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">
                        About us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22">V. J. Patel Higher Secondary School</div>
                    <div class="desc">run by Charotar Education Society was
                        established in 2008. This school is named after Pujya
                        Vitthalbhai Sahib(Vitthalbhai Jethabhai Patel). The first
                        achievement of this school was in the year 2010, in the
                        first batch of the board, it got the name by getting
                        excellent results in the entire district and the state. In
                        which, one to eight numbers were obtained by the school in
                        the district and the first two numbers in the state.</div>
                </div>
                <div class="btn-part mt-4">
                    <a class="readon" routerLink="/basic/about">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->