<!-- About Section Start -->
<div class="rs-about style11 mt-40 pb-100 md-mt--10 md-pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="assets/images/campus.jpg" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">
                        About us
                    </div>
                    <!-- <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2> -->
                    <div class="bold-text mb-22">Shree Maganbhai B Patel Science College</div>
                    <p class="desc mb-45">
                        was established in 1967 , and has total Campus area of 28852.38 Sq. mtrs. and the total built-
                        up area is 7542.74 Sq.mtr. Started with subjects Physics, Chemistry, Maths, Biology. It is
                        affiliated to Sardar Patel University , Vallabh Vidyanagar.The college is recognized under
                        section 2(f) and 12 B of the UGC Act 1956. The College is Reaccredited by NAAC with a CGPA of
                        3.02 at ‘A’ Grade in October 2013. The College is Accredited by KCG for ‘AAA’ with a 3.11 CGPA
                        at A-Grade in January 2015.
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->