<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-94 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <!-- Content Column -->
                    <div class="col-lg-12 md-mb-50 mt-10">
                        <!-- Intro Info Tabs-->
                        <div class="intro-info-tabs">

                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="prod-overview" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <!-- Cource Overview -->
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4 class="text-center">FEE NOTIFICATION</h4>
                                                <p>This is to inform the parents that the school will comply with the
                                                    decision of Gujarat Self Financed Schools ( Regulation of fees) Act
                                                    2017.
                                                </p>
                                                <p>આથી શાળાના વાલીશ્રીઓને જણાવવાનું કે ગુજરાત સેલ્ફાઈનાન્સડ સ્કૂલ્સ
                                                    (રેગ્યુલેશન ઓફ ફીસ) એક્ટ ૨૦૧૭ નું શાળા સંપૂર્ણ પાલન કરશે.</p>
                                                <!-- <img src="assets/images/cems/FeeStructure.jpg" alt="Fee Structure"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>

<app-footer></app-footer>