<app-header></app-header>
<div id="rs-about" class="rs-about style1 pb-100 md-pb-70" *ngIf="!isOpen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="notice-bord style1 pt-30 md-pt-80">
                    <ul>
                        <li class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="2000ms"
                            (click)="openCriteria('Criteria 1')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">Criteria 1</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms"
                            (click)="openCriteria('Criteria 2')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">Criteria 2</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms"
                            (click)="openCriteria('Criteria 3')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">Criteria 3</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms"
                            (click)="openCriteria('Criteria 4')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">Criteria 4</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="600ms" data-wow-duration="2000ms"
                            (click)="openCriteria('Criteria 5')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">Criteria 5</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="700ms" data-wow-duration="2000ms"
                            (click)="openCriteria('Criteria 6')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">Criteria 6</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="800ms" data-wow-duration="2000ms"
                            (click)="openCriteria('Criteria 7')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">Criteria 7</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="900ms" data-wow-duration="2000ms"
                            (click)="openCriteria('SSR')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">SSR</h4>
                            </div>
                        </li>
                        <li class="wow fadeInUp" data-wow-delay="1000ms" data-wow-duration="2000ms"
                            (click)="openCriteria('AQAR')">
                            <div class="desc">
                                <h4 class="mb-0 custom-col">AQAR</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content white-bg pt-30 md-pt-64" *ngIf="isOpen">
    <div class="course-overview">
        <div class="inner-box">
            <div class="row">
                <div class="col-md-9 col-lg-9 col-xl-9 col-sm-12 col-xs-12 md-pb-30">
                    <div class="main-content">
                        <style>
                            .rs-about.style1 .notice-bord.style1 {
                                margin-top: 0px;
                            }
                        </style>
                        <div class="rs-faq-part rs-about style1">
                            <div class="container">
                                <div class="main-part">
                                    <div class="faq-content">
                                        <div class="accordion pt-20" id="accordionExample">
                                            <h4 class="pb-1" style="text-align: center;"> {{crieteria}}
                                            </h4>
                                            <h4 style="color: red;text-align: center;" *ngIf="keyIndicator.length==0">
                                                Data
                                                Not Found !</h4>
                                            <div class="row" *ngIf="keyIndicator.length>0">
                                                <div class="col-sm-12 mb-3" *ngFor="let r of keyIndicator;let i=index">
                                                    <div class="accordion-item card">
                                                        <div class="accordion-header card-header" id="headingThree"
                                                            (click)="open(i,r.keyno)">
                                                            <button class="card-link accordion-button collapsed"
                                                                type="button" data-bs-target="#collapseTen"
                                                                aria-expanded="false" aria-controls="collapseTen"
                                                                style="background-color: #a45e4d; color: white !important;">{{r.keyno}}</button>
                                                        </div>
                                                        <div id="collapseTen" class="accordion-collapse " *ngIf="r.cols"
                                                            (click)="open(i,r.keyno)" aria-labelledby="headingThree"
                                                            data-bs-parent="#accordionExample">
                                                            <div class="accordion-body card-body">
                                                                <div class="row">
                                                                    <div class="col-lg-12 mt-1">
                                                                        <div
                                                                            class="wpb_text_column wpb_content_element ">
                                                                            <div class="wpb_wrapper">
                                                                                <ul>
                                                                                    <li
                                                                                        *ngFor="let p of parameter;let i=index">
                                                                                        <div
                                                                                            *ngIf="(parameter.length-1)==i && parameter.length>1">
                                                                                            <a class="custom-p"
                                                                                                *ngIf="p.paralink !='undefined' && parameter[i-1].paraname !=p.paraname"
                                                                                                href="https://api.cesociety.in{{p.paralink}}"
                                                                                                target="_blank"><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                            <a
                                                                                                *ngIf="p.paralink =='undefined' && parameter[i-1].paraname !=p.paraname"><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                        </div>
                                                                                        <div
                                                                                            *ngIf="(parameter.length-1)>i && parameter.length>1">
                                                                                            <a class="custom-p"
                                                                                                *ngIf="p.paralink !='undefined' "
                                                                                                href="https://api.cesociety.in{{p.paralink}}"
                                                                                                target="_blank"><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                            <a
                                                                                                *ngIf="p.paralink =='undefined' "><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                        </div>
                                                                                        <div
                                                                                            *ngIf="(parameter.length-1)==i && parameter.length==1">
                                                                                            <a class="custom-p"
                                                                                                *ngIf="p.paralink !='undefined' "
                                                                                                href="https://api.cesociety.in{{p.paralink}}"
                                                                                                target="_blank"><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                            <a
                                                                                                *ngIf="p.paralink =='undefined' "><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                        </div>
                                                                                        <div
                                                                                            *ngIf="(parameter.length-1)>i && parameter.length==1">
                                                                                            <a class="custom-p"
                                                                                                *ngIf="p.paralink !='undefined' "
                                                                                                href="https://api.cesociety.in{{p.paralink}}"
                                                                                                target="_blank"><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                            <a
                                                                                                *ngIf="p.paralink =='undefined' "><i
                                                                                                    class="fa fa-circle"
                                                                                                    style="color: #a45e4d; padding-right: 8px;"
                                                                                                    aria-hidden="true"></i>{{p.paraname}}
                                                                                            </a>
                                                                                        </div>
                                                                                        <ul style="padding-left: 20px;"
                                                                                            *ngIf="p.attachname !='undefined' && p.attachlink !='undefined' ">
                                                                                            <li>
                                                                                                <a class="custom-p"
                                                                                                    href="https://api.cesociety.in{{p.attachlink}}"
                                                                                                    target="_blank"><i
                                                                                                        class="fa fa-arrow-right"
                                                                                                        style="color: #a45e4d; padding-right: 8px;"
                                                                                                        aria-hidden="true"></i>{{p.attachname}}
                                                                                                </a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                </ul>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-12 col-xs-12">
                    <div id="rs-about" class="rs-about style1">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12 ">
                                    <div class="notice-bord style1">
                                        <ul>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="200ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('Criteria 1')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">Criteria 1</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="300ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('Criteria 2')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">Criteria 2</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="400ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('Criteria 3')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">Criteria 3</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="500ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('Criteria 4')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">Criteria 4</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="600ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('Criteria 5')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">Criteria 5</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="700ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('Criteria 6')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">Criteria 6</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="800ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('Criteria 7')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">Criteria 7</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="900ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('SSR')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">SSR</h4>
                                                </div>
                                            </li>
                                            <li class="wow fadeInUp custom-pd" data-wow-delay="1000ms" data-wow-duration="2000ms"
                                                (click)="openCriteria('AQAR')">
                                                <div class="desc">
                                                    <h4 class="mb-0 custom-col">AQAR</h4>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>