.rs-about.style1 .notice-bord.style1 li .desc {
    padding-left: 30px !important;
    font-weight: 500;
}
.custom-p{
    color: 342424;
    text-decoration: underline !important;
}
.custom-pd{
    padding: 5px !important;
}