<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-80 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-12 md-mb-10 mt-10">
                        <ul class="nav nav-tabs intro-tabb tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#about" role="tab" aria-controls="about"
                                    aria-selected="true">History</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Vision-Mission" role="tab" aria-controls="Vision-Mission"
                                    aria-selected="false">Vision, Mission & Objectives</a>
                            </li>
                            <!-- <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Governer" role="tab" aria-controls="Governer"
                                    aria-selected="false">Governing Body</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#idp" role="tab" aria-controls="idp"
                                    aria-selected="false">Institutional Development Plan</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Affiliating" role="tab" aria-controls="Affiliating"
                                    aria-selected="false">Affiliating University</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#rank" role="tab" aria-controls="rank"
                                    aria-selected="false">Accrediation/Ranking/Recognition/Approval</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#annual" role="tab" aria-controls="annual"
                                    aria-selected="false">Annual Reports</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#account" role="tab" aria-controls="account"
                                    aria-selected="false">Annual Accounts</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-instructor-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#more-pdf" role="tab" aria-controls="more-pdf"
                                    aria-selected="false">More Details</a>
                            </li> -->
                        </ul>
                        <div class="intro-info-tabs">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="row">
                                                    <div class="col-lg-6 md-mb-50 mt-50">
                                                        <div class="bold-text mb-22">M.B.Patel Science College </div>
                                                        <div class="desc">was established in 1967 , and has total Campus
                                                            area of
                                                            28852.38 Sq. mtrs.
                                                            and the total built- up area is 7542.74 Sq.mtr. Started with
                                                            subjects Physics,
                                                            Chemistry, Maths, Biology. It is affiliated to Sardar Patel
                                                            University , Vallabh
                                                            Vidyanagar.</div>
                                                        <div class="desc">The college is recognized under section 2(f) and
                                                            12 B
                                                            of the UGC Act 1956.
                                                            The College is Reaccredited by NAAC with a CGPA of 3.02 at ‘A’
                                                            Grade
                                                            in October 2013.
                                                            The College is Accredited by KCG for ‘AAA’ with a 3.11 CGPA at
                                                            A-Grade in January 2015.
                                                        </div>
                                                        <div class="desc">The College was awarded “College with Potential
                                                            for
                                                            Excellence” status by
                                                            University Grants Commission, New Delhi in 2011and received a
                                                            grant
                                                            of One Crore under
                                                            this Scheme.</div>
                                                        <div class="desc">The College is selected “College with Potential
                                                            for
                                                            Excellence” by
                                                            University Grants Commission, New Delhi for the Second phase of
                                                            five
                                                            year from 1st April
                                                            2017 to 31st March 2022 and is sanctioned grant of Rs. One Crore
                                                            Thirty Lacks under this
                                                            Scheme.</div>
                                                        <p>In 1967 the college offered – Physics, Chemistry, Mathematics,
                                                            Biology
                                                            and English and as per the demand of the society, the other
                                                            subjects
                                                            were introduced :</p>
                                                    </div>
                                                    <div class="col-lg-2 md-mb-50 mt-50"></div>
                                                    <div class="col-lg-4 md-mb-50 mt-50">
    
                                                        <ul style="list-style-type: disc; margin-left: 9px;">
                                                            <li>1979 – Statistics</li>
                                                            <li>1980 – Microbiology</li>
                                                            <li>1981 – Biochemistry</li>
                                                            <li>1985 – Electronics & Computer Science</li>
                                                            <li>2000 – BCA & DMLT</li>
                                                            <li>2004 – Biotechnology (SF)</li>
                                                            <li>2005 – M.Sc. (Organic Chemistry)</li>
                                                            <li>2006 – M.Sc. (Microbiology)</li>
                                                            <li>2008 – M.Sc. (Biotechnology)</li>
                                                            <li>2008 – M.Sc. (Medical Laboratory Technology)</li>
                                                            <li>2009 – Ph.D. Center in Chemistry</li>
                                                            <li>2010 – Ph.D. Center in Biochemistry in Food & Nutrition.
                                                            </li>
                                                            <li>2018 – Zoology, Botany & Industrial Chemistry</li>
                                                        </ul>
                                                        <p>For administrative convenience all the P.G. courses were
                                                            separated
                                                            from
                                                            M.B.Patel Science College and started functioning under a
                                                            separate
                                                            P.G.Institute namely Shri A.N.Patel P.G.Institute for Science
                                                            and
                                                            Research in 2010. The BCA course was also shifted from M.B.Patel
                                                            Science
                                                            College and started under a separate Institute namely Shri
                                                            D.N.Institute
                                                            of Computer Applications in 2012.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Vision-Mission" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Vision</h4>
                                                <ul class="review-list">
                                                    <li>To facilitate transformation of students into good human
                                                        beings, responsible citizens and competent professionals,
                                                        focusing on assimilation, generation and dissemination of
                                                        knowledge.</li>
                                                    <li>To impart quality higher education and focus on research and
                                                        innovation to cater to the need of the country.</li>
                                                </ul>

                                                <h3>Mission</h3>
                                                <ul class="review-list">
                                                    <li>Impart quality education to meet the needs of profession and
                                                        society, and achieve excellence in teaching-learning and
                                                        research.</li>
                                                    <li>To impart quality scientific education and produce
                                                        postgraduates, technologists, scientists and citizens who will
                                                        contribute meaningfully to the growth and development of the
                                                        country and excel in various disciplines of knowledge.</li>
                                                    <li>To create a research-oriented teaching-learning environment in
                                                        the Institute with a focus on excellence and innovation.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="tab-pane fade" id="Governer" role="tabpanel"
                                    aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Introduction</h4>
                                                <p>Charotar Education Society is a charitable school institute founded
                                                    with the aim of providing quality education to children from diverse
                                                    backgrounds. Our organization is based in the Charotar region of
                                                    Gujarat, India, and has been serving the community for several
                                                    decades.
                                                    We believe that education is a fundamental right of every child, and
                                                    our mission is to provide access to affordable and high-quality
                                                    education to children who might otherwise not have the opportunity
                                                    to attend school. Our approach to education is based on a holistic
                                                    development model that focuses on the academic, social, emotional,
                                                    and spiritual growth of our students.
                                                </p>
                                                <h3>Functions</h3>
                                                <ul class="review-list">
                                                    <li>Review the academic and other related activities of the college.
                                                    </li>
                                                    <li>Consider new programs of study for approval by Sardar Patel
                                                        University.</li>
                                                    <li>Consider the recommendations of the Principal regarding
                                                        promotions.</li>
                                                    <li>Ratify selections, appointments, medals, and prizes.</li>
                                                    <li>Pass the annual budget of the college.</li>
                                                    <li>Annual University affiliation</li>
                                                </ul>
                                                <h3 class="text-center">Management Members</h3>
                                                <table style="width:100%">
                                                    <tr style="background-color: #555555;">
                                                        <th style="color: #fff;">Name</th>
                                                        <th style="color: #fff;">Designation</th>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Nirav N. Patel</td>
                                                        <td>Chairman</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Ketankumar P. Patel</td>
                                                        <td>Secretary</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Vijay Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Vinod Parmar</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Dr. Uday Vora</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Dipen Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Ketan Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Shailesh Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Kalpesh Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Chirag Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Pragnesh Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Hemant Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Swetal Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Samir Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Pinal Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Sandip Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Shri Jay Patel</td>
                                                        <td>Member</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="idp" role="tabpanel" aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="pdf-container">
                                                    <pdf-viewer [src]="idp" [rotation]="0" [original-size]="false"
                                                        [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                                        [zoom-scale]="'page-width'" [stick-to-page]="false"
                                                        [render-text]="true" [external-link-target]="'blank'"
                                                        [autoresize]="true" [show-borders]="false"
                                                        style="width: 100%; height: 600px;"></pdf-viewer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Affiliating" role="tabpanel"
                                    aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="pdf-container">
                                                    <pdf-viewer [src]="aff" [rotation]="0" [original-size]="false"
                                                        [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                                        [zoom-scale]="'page-width'" [stick-to-page]="false"
                                                        [render-text]="true" [external-link-target]="'blank'"
                                                        [autoresize]="true" [show-borders]="false"
                                                        style="width: 100%; height: 600px;"></pdf-viewer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="rank" role="tabpanel" aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="pdf-container">
                                                    <pdf-viewer [src]="naac" [rotation]="0" [original-size]="false"
                                                        [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                                        [zoom-scale]="'page-width'" [stick-to-page]="false"
                                                        [render-text]="true" [external-link-target]="'blank'"
                                                        [autoresize]="true" [show-borders]="false"
                                                        style="width: 100%; height: 600px;"></pdf-viewer>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="annual" role="tabpanel"
                                    aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="pdf-container">
                                                    <h4 style="color: red;text-align: center;"
                                                        *ngIf="reportData.length==0">
                                                        Data
                                                        Not Found !</h4>
                                                    <div class="row" *ngIf="reportData.length>0">
                                                        <div class="col-lg-2 mb-30 col-md-2"
                                                            *ngFor="let c of reportData | paginate: {id:'listing1', itemsPerPage: 12, currentPage: pa };let i=index">
                                                            <div class="gallery-img">
                                                                <a href="https://api.cesociety.in{{c.files}}"
                                                                    target="_blank">
                                                                    <img src="assets/images/PDF.png" alt="">
                                                                    <div class="mt-2"
                                                                        style="text-align: center !important;">
                                                                        <span>{{c.title}}</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3" *ngIf="reportData.length>0">
                                                        <div class="row">
                                                            <div class="col text-end">
                                                                <pagination-controls id="listing1"
                                                                    (pageChange)="pa = $event">
                                                                </pagination-controls>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="account" role="tabpanel"
                                    aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <table style="width:100%">
                                                    <tr style="background-color: #555555;">
                                                        <th style="color: #fff;">Sr. No.</th>
                                                        <th style="color: #fff;">DESCRIPTION</th>
                                                        <th style="color: #fff;">LINK</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Audited Statement FY 2022-23</td>
                                                        <td><a href="https://api.cesociety.in/pdf/1719567826452.pdf"
                                                                target="_blank">View More</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Audited Statement FY 2021-22</td>
                                                        <td><a href="https://api.cesociety.in/pdf/1719567617115.pdf"
                                                                target="_blank">View More</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>Audited Statement FY 2020-21</td>
                                                        <td><a href="https://api.cesociety.in/pdf/1719567645349.pdf"
                                                                target="_blank">View More</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>Audited Statement FY 2019-20</td>
                                                        <td><a href="https://api.cesociety.in/pdf/1719567663865.pdf"
                                                                target="_blank">View More</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>Audited Statement FY 2018-19</td>
                                                        <td><a href="https://api.cesociety.in/pdf/1719567678808.pdf"
                                                                target="_blank">View More</a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="more-pdf" role="tabpanel"
                                    aria-labelledby="prod-reviews-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4 class="text-center">1. Best practices of institute</h4>
                                                <div id="outerContainer" class="mt-20 md-mt-70">
                                                    <div class="pdf-container">
                                                        <pdf-viewer [src]="src" [rotation]="0" [original-size]="false"
                                                            [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                                            [zoom-scale]="'page-width'" [stick-to-page]="false"
                                                            [render-text]="true" [external-link-target]="'blank'"
                                                            [autoresize]="true" [show-borders]="false"
                                                            style="width: 100%; height: 600px;"></pdf-viewer>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="inner-box">
                                                <h4 class="text-center">2. Performance of institute</h4>
                                                <div id="outerContainer" class="mt-20 md-mt-70">
                                                    <div class="pdf-container">
                                                        <pdf-viewer [src]="src1" [rotation]="0" [original-size]="false"
                                                            [show-all]="true" [fit-to-page]="false" [zoom]="1"
                                                            [zoom-scale]="'page-width'" [stick-to-page]="false"
                                                            [render-text]="true" [external-link-target]="'blank'"
                                                            [autoresize]="true" [show-borders]="false"
                                                            style="width: 100%; height: 600px;"></pdf-viewer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>