<app-header></app-header>

<body class="defult-home">
    <div class="main-content">
        <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/2.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color">
                <h1 class="page-title">Staff Details</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Staff Details</li>
                </ul>
            </div>
        </div> -->
        <style>
            p {
                text-align: justify;
            }
        </style>
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-80 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="col-lg-12 md-mb-10 mt-10">
                        <ul class="nav nav-tabs intro-tabb tabs-box" id="myTab" role="tablist">
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn active" id="prod-overview-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#about" role="tab" aria-controls="about"
                                    aria-selected="true">History</a>
                            </li>
                            <li class="nav-item tab-btns" role="presentation">
                                <a class="nav-link tab-btn" id="prod-curriculum-tab" data-bs-toggle="tab" href="#"
                                    data-bs-target="#Vision-Mission" role="tab" aria-controls="Vision-Mission"
                                    aria-selected="false">Vision, Mission & Objectives</a>
                            </li>
                        </ul>
                        <div class="intro-info-tabs">
                            <div class="tab-content tabs-content" id="myTabContent">
                                <div class="tab-pane tab fade show active" id="about" role="tabpanel"
                                    aria-labelledby="prod-overview-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <div class="row">
                                                    <div class="col-lg-6 md-mb-50 mt-50">
                                                        <div class="bold-text mb-22">V. J. Patel Higher Secondary School</div>
                                                        <div class="desc">run by Charotar Education Society was
                                                            established in 2008. This school is named after Pujya
                                                            Vitthalbhai Sahib(Vitthalbhai Jethabhai Patel). The first
                                                            achievement of this school was in the year 2010, in the
                                                            first batch of the board, it got the name by getting
                                                            excellent results in the entire district and the state. In
                                                            which, one to eight numbers were obtained by the school in
                                                            the district and the first two numbers in the state.</div>
                                                    </div>
                                                    <div class="col-lg-6 md-mb-50 mt-50">
                                                        <div class="img-part js-tilt">
                                                            <img src="assets/images/campus.jpg" alt="images">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="Vision-Mission" role="tabpanel"
                                    aria-labelledby="prod-instructor-tab">
                                    <div class="content white-bg pt-30">
                                        <div class="course-overview">
                                            <div class="inner-box">
                                                <h4>Vision</h4>
                                                <ul class="review-list">
                                                    <li>To facilitate transformation of students into good human
                                                        beings, responsible citizens and competent professionals,
                                                        focusing on assimilation, generation and dissemination of
                                                        knowledge.</li>
                                                    <li>To impart quality higher education and focus on research and
                                                        innovation to cater to the need of the country.</li>
                                                </ul>

                                                <h3>Mission</h3>
                                                <ul class="review-list">
                                                    <li>Impart quality education to meet the needs of profession and
                                                        society, and achieve excellence in teaching-learning and
                                                        research.</li>
                                                    <li>To impart quality scientific education and produce
                                                        postgraduates, technologists, scientists and citizens who will
                                                        contribute meaningfully to the growth and development of the
                                                        country and excel in various disciplines of knowledge.</li>
                                                    <li>To create a research-oriented teaching-learning environment in
                                                        the Institute with a focus on excellence and innovation.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<app-footer></app-footer>