<app-header></app-header>

<body class="defult-home">
    <!-- Main content Start -->
    <div class="main-content">
        <style>
            p {
                text-align: justify;
            }
        </style>
        <!-- Intro Courses -->
        <section class="intro-section gray-bg pt-40 pb-100 md-pt-64 md-pb-70">
            <div class="container">
                <div class="row clearfix">

                    <div class="video-column col-lg-8">

                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Activities during 2020-21</h5>
                                <ul style="list-style-type:disc;">
                                    <li class="lectures-feature">Shri IJ Patel B.Ed. college organized the state level
                                        seminar on "Gandhiji" on date 22 and 23rd June 2020. In which our faculty
                                        members and trainee from various institutes participated.
                                    </li>

                                    <li class="quizzes-feature">
                                        The Workshop was organized by IITE Gandhinagar from 16th to 17th December, in
                                        which Shri I.J. Patel B.Ed. All the faculty friends of the college and all the
                                        student friends participated. For which a certificate in this regard has been
                                        issued by IITE Gandhinagar.
                                    </li>

                                </ul>

                                <h5>Co–curricular activities: </h5>
                                <p>Co–curricular activities like different days celebration Sarvadharm mela , debate ,
                                    cultural programmes , teaching aids and books exhibition , We have assembly hall as
                                    well as multi– purpose hall . We have very advanced sound system, wooden stage and
                                    podium for the celebration of different functions.</p>
                                <ul style="list-style-type:disc;">
                                    <li class="lectures-feature">ORIENTATION PROGRAMME: Talent Hunt, Visit of Sister
                                        Concern institutes, Library visit, Psychology Laboratory, Science Laboratory,
                                        Computer Laboratory.
                                    </li>

                                    <li class="quizzes-feature">
                                        CELEBRATION OF DAYS: Yogaday , Photography, Sports, Women’s Day, Teacher’s Day,
                                        Hindi Day, Mathematics Day, Science Day, Sanskrit Day, World Environment Day,
                                        Earth Day, Khelmahakumbh,Guru Poornima, World Population Day, Vasant Panchmi,
                                        Premchand Jayanti, Gurunanak Jayanti, Umashankar Jayanti, Gandhi Jayanti,
                                        Independence Day, Republic Day.
                                    </li>
                                    <li>WORKSHOPS: Birthday & Diwali card making, Art & Drama, Bulletin Board, Lesson
                                        Plan, Reading, Library.</li>
                                    <li>EXHIBITION: Books, Teaching Aids, Gandhiji’s Life, Ishwar Magazine. SEMINARS:
                                        Communication skill in teaching, Goods & Service Tax (GST), Female Foeticid.
                                    </li>
                                    <li>GUEST LECTURE: On Health Issues, Marital problems, Legal awareness, Nature club.
                                    </li>
                                    <li>CLUB ACTIVITIES: During internship, Block teaching, all subject club members
                                        inaugurate clubs in school and involve the school students in different
                                        activities and competitions.</li>
                                    <li>MENTOR GROUPS: Seven to Eight students are allotted one mentor teacher who is
                                        responsible for their academic as well as extracurricular activities.</li>
                                    <li>CELLS: Redressal Cell, Women’s Cell, Antiragging, Social Issues, counselling cell
                                        actively work.</li>
                                    <li>COMMUNITY OUTREACH PROGRAMME: Distribution of clothes, Donated seawing machine
                                        to needy people.</li>
                                </ul>
                                <h5>Extracurricular activities: </h5>
                                <p>For outdoor games and sports, the institution has a play ground, sports equipments
                                    for playing Moreover we have 1000 sq – mts terrace which could also be used if need
                                    arises. Sports equipment like volleyball, basketball and cricket kit is used by the
                                    student teacher regularly.</p>
                                <ul style="list-style-type:disc;">
                                    <li class="lectures-feature"> During vacation in-service teachers training programme is held for the school teachers of our parent institutions.
                                    </li>

                                    <li class="quizzes-feature">
                                        For religious youth festival programmes as well as NSS Camps different Institutions use our playground and rooms during vacations.
                                    </li>
                                    <li>During exams morning till evening the class rooms are kept open for Student teachers to read peacefully.</li>
                                    <li>For community work Aids, family planning, environment awareness Local people are called to see the poster exhibition and meetings on holidays.  Alumni meeting on 15th December every year.
                                    </li>
                                    <li>During holidays we conduct workshops for mother’s training programme. 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="video-column col-lg-4">
                        <div class="inner-column">
                            <div class="course-features-info">
                                <h5>Fee Structure:</h5>
                                <table>
                                    <tr>
                                        <th>Old Fee</th>
                                        <th>New Fee</th>
                                    </tr>
                                    <tr>
                                        <td>Old Fee was 30,000/-</td>
                                        <td>Fee Determined by the Committee for the Year 2018-19, 2019-20 and 2020-21 is 35,000/- </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End intro Courses -->
    </div>
    <!-- Main content End -->
</body>
<app-footer></app-footer>