<div id="rs-categories" class="rs-categories gray-bg style1 pt-60 pb-60 md-pt-64 md-pb-40">
    <div class="container">
        <div class="row y-middle mb-50 md-mb-30">
            <div class="col-md-12 sm-mb-30" style="text-align: Center;">
                <div class="sec-title">
                    <!-- <div class="sub-title primary">Academic</div> -->
                    <h2 class="title mb-0">Quick Links</h2>
                </div>
            </div>
            <!-- <div class="col-md-6">
                <div class="btn-part text-end sm-text-start">
                    <a href="#" class="readon">View All Categories</a>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xl-3 col-sm-6 mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                <a class="categories-item" (click)="openLinks('forms')">
                    <div class="icon-part">
                        <img src="assets/images/icons/forms.png" alt="" style="height: 80%; width: 80%;">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Forms</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-xl-3 col-sm-6 mb-30 wow fadeInUp" data-wow-delay="400ms" data-wow-duration="2000ms">
                <a class="categories-item" (click)="openLinks('report')">
                    <div class="icon-part">
                        <img src="assets/images/icons/reports.png" alt="" style="height: 80%; width: 80%;">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Reports</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-xl-3 col-sm-6 mb-30 wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms">
                <a class="categories-item"  routerLink="/more/result">
                    <div class="icon-part">
                        <img src="assets/images/icons/result.png" alt="" style="height: 80%; width: 80%;">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Result</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-xl-3 col-sm-6 mb-30 wow fadeInUp" data-wow-delay="300ms" data-wow-duration="2000ms">
                <a class="categories-item"  routerLink="/department/staff">
                    <div class="icon-part">
                        <img src="assets/images/icons/staff.png" alt="" style="height: 80%; width: 80%;">
                    </div>
                    <div class="content-part">
                        <h4 class="title">Staff Details</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>