<app-header></app-header>

<body class="defult-home">
  <div class="main-content">
    <!-- <div class="rs-breadcrumbs breadcrumbs-overlay">
            <div class="breadcrumbs-img">
                <img src="assets/images/breadcrumbs/5.jpg" alt="Breadcrumbs Image">
            </div>
            <div class="breadcrumbs-text white-color padding">
                <h1 class="page-title white-color">Contact Us</h1>
                <ul>
                    <li>
                        <a class="active" href="index.html">Home</a>
                    </li>
                    <li>Contact Us</li>
                </ul>
            </div>
        </div> -->
    <!-- Breadcrumbs End -->

    <!-- Contact Section Start -->
    <div class="contact-page-section pt-100 pb-100 md-pt-70 md-pb-70">
      <div class="container">
        <div class="row align-items-center rs-contact-box mb-90 md-mb-50">
          <div class="col-lg-12 col-md-12 lg-pl-0 sm-mb-30 md-mb-30">
            <div class="contact-comment-box">
              <div class="inner-part align-items-center">
                <h2 class="title mb-mb-15">
                  Admission Inquiry Form
                </h2>
                <p class="align-items-center">
                  We welcome your inputs and suggestions to constantly improve
                  upon the functioning of the institute.
                </p>
              </div>
              <div id="form-messages"></div>
              <form id="contact-form" [formGroup]="form">
                <fieldset>
                  <div class="row">

                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <input class="from-control" type="text" id="sname" name="sname" placeholder="Student Name"
                        formControlName="sname" [ngClass]="{'is-invalid': submitted && f['sname'].errors}"
                        [(ngModel)]="addmissionModel.studentname" />
                      <div *ngIf="submitted && f['sname'].errors" class="invalid-feedback">
                        <div *ngIf="f['sname'].errors['required']">
                          Student Name is required
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <input class="from-control" type="text" id="city" name="city" placeholder="City"
                        formControlName="city" [ngClass]="{
                          'is-invalid': submitted && f['city'].errors
                        }" [(ngModel)]="addmissionModel.city" />
                      <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                        <div *ngIf="f['city'].errors['required']">
                          City is required
                        </div>
                        <div *ngIf="f['city'].errors['city']">
                          City is invalid
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <input class="from-control" type="email" id="email" name="email" placeholder="email"
                        formControlName="email" [ngClass]="{
                          'is-invalid': submitted && f['email'].errors
                        }" [(ngModel)]="addmissionModel.email" />
                      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">
                          Email Address is required
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <input class="from-control" type="number" id="mnumber" name="mnumber"
                        placeholder="Mobile Number(Without Country Code)" formControlName="mnumber" [ngClass]="{
                          'is-invalid': submitted && f['mnumber'].errors
                        }" [(ngModel)]="addmissionModel.contact" />

                      <div *ngIf="submitted && f['mnumber'].errors" class="invalid-feedback">
                        <div *ngIf="f['mnumber'].errors['required']">
                          Mobile Number is required
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <input class="from-control" type="text" id="uname" name="uname"
                        placeholder="Name of the University (Last Bachelor Degree)" formControlName="uname" [ngClass]="{
                          'is-invalid': submitted && f['uname'].errors
                        }" [(ngModel)]="addmissionModel.lastdegree" />

                      <div *ngIf="submitted && f['uname'].errors" class="invalid-feedback">
                        <div *ngIf="f['uname'].errors['required']">
                          Name of the University is required
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <input class="from-control" type="text" id="cname" name="cname"
                        placeholder="College Name (Bachelor Degree)" formControlName="cname" [ngClass]="{
                          'is-invalid': submitted && f['cname'].errors
                        }" [(ngModel)]="addmissionModel.clgname" />

                      <div *ngIf="submitted && f['cname'].errors" class="invalid-feedback">
                        <div *ngIf="f['cname'].errors['required']">
                          College Name is required
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <div class="form-group mb-3">

                        <input class="from-control" type="text" id="bsub" name="bsub" placeholder="Bachelor Subject
                                                " formControlName="bsub" [ngClass]="{
                          'is-invalid': submitted && f['bsub'].errors
                        }" [(ngModel)]="addmissionModel.bachelorsubject" />
                        <div *ngIf="submitted && f['bsub'].errors" class="invalid-feedback">
                          <div *ngIf="f['bsub'].errors['required']">
                            Bachelor Subject is required
                          </div>
                        </div>
                      </div>

                    </div>

                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <input class="from-control" type="text" id="cgpa" name="cgpa"
                        placeholder="CGPA (Ignore if result is not declared)" formControlName="cgpa"
                        [ngClass]="{'is-invalid': submitted && f['cgpa'].errors}" [(ngModel)]="addmissionModel.cgpa" />
                    </div>
                    <div class="col-lg-6 mb-35 col-md-6 col-sm-6">
                      <div class="form-group mb-3">
                        <label class="form-label">Subject</label>
                        <select required class="form-control form-select" id="selectedSubject" name="selectedSubject"
                          (change)="onSubjectChange($event)">
                          <option value="">Select Subject</option>
                          <option *ngFor="let c of subjectdata">{{ c.department }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group mb-0 ">
                      <button class="btn-send" type="submit" (click)="saveContactUSData()">Submit</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact Section End -->
  </div>
  <!-- Main content End -->
</body>
<app-footer></app-footer>