<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">
                    <h2>Message From Principal's desk</h2>
                    <h5>Dr. Bhavesh Dave
                        <br>
                        <span>- Principal, M.B.Patel Science College</span>
                    </h5>
                    <p>Greetings to all eager students of M.B.Patel Science Institution, operated by Charotar Education
                        Society, reaccredited with a 'A' grade by NAAC, accredited with a 'A' grade by KCG, and
                        recognised by UGC as a college with promise. The institution, which was founded in 1967, is one
                        of the oldest and most prestigious in the region, with competent and committed faculty, enough
                        facilities and infrastructure for academic and extra-curricular activities.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <p>The college provides twelve undergrad courses as well as a postgraduate diploma and certificate
                        in Medical Laboratory Technology. The college is a Ph.D.-granting institution in Chemistry,
                        Biochemistry, and Food & Nutrition. The institution offers courses in skill development such as
                        SCOPE, DELL, and Personality Development. The institute supports a variety of extracurricular
                        activities such as NCC, NSS, and sports.
                        Students are also taught about their social duties through activities such as blood donation,
                        tree care and planting, free eye check-up camps, and AIDS awareness programmes, to name a few.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>