.btn-outline-primary {
    color: #5a6230;
    border-color: #5a6230;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #5a6230;
    border-color: #5a6230;
}
.btn-outline-primary:active {
    color: #fff;
    background-color: #5a6230;
    border-color: #5a6230;
}